@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
.html{
    height: 100%;
}
body{
    margin:0;
    display: flex;
    flex-direction: column;
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
    color: black;
    background: #F2F2F2;
    min-height: 100%;
}
.page-container{
    width: 1200px;
    margin: 0 auto;

}
.page-header{
    color: black;
    background-color: white;
    padding-left: 70px;
    padding-right: 70px;
}
.navigation{
    display: flex;
    margin:0 auto;
}
.logo-link{
    display: block;
    margin-right: 28px;
    margin-bottom: -6px;
}
.navigation-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    width:calc(100%-450px);
}
.navigation-link{
    position: relative;
    display: block;
    padding: 20px 16px;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height:24px;
    color: black;
    text-transform: capitalize;
    text-decoration: none;
}
.navigation-link-current{
     position: relative;
}
.navigation-link-current::after{
     position: absolute;
     content: "";
     width: calc(100%-32px);
     right: 16px;
     left:16px;
     bottom: 0;
     height: 2px;
     background-color:#756157;
}
.navigation-link:hover{
     color:#68A2CA;
}
.navigation-link:active{
     color: #8bb1ca;
}
.navigation-user{
     min-width: 310px;
     margin-left: auto;
}
.navigation-user-link-search{
     display:block;
     padding: 22px 12px;
     margin: 0;
}
.navigation-user-link-search:hover path{
     fill:#68A2CA;
}
.navigation-user-link-search:active path{
     fill: #92b0c5;
}
.navigation-user-link-heart{
    display:block;
    padding: 22px 12px;
    margin: 0;
}
.navigation-user-link-heart:hover path{
     fill:rgb(186, 118, 132);
}
.navigation-user-link-heart:active path{
     fill:crimson;
}
.navigation-user-button{
    display: block;
    margin-top: 14px;
    margin-left: 20px;
    padding: 8px 34px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    background: #756157;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
}
.navigation-user-button:hover{
  background: #756157;
}
.navigation-user-button:focus{
  background: #615048;
}
.navigation-user-button:active{
  background: #756157;
  color: #FFFFFF4D;
}
.navigation-user-button:disabled{
  background: #E5E5E5;
}
.visually-hidden{
   visibility:hidden;
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}
.main-index{
    font-family: "PT Sans";
    color: black;
    background-color: white;
}
.main-container{
    flex-grow: 1;
}
.page-container{
    width: 1200px;
    margin: 0 auto;
}
.hero{
    background:url(../images/main/divider.svg) bottom -1px center no-repeat,
    url(../images/main/index-background.jpg) no-repeat;
}
.main-image{
    display:block;
    margin:0 auto;
    padding-top: 51px;
    padding-bottom: 82px;
}
.slogan-advantages{
    margin: 0 auto;
    width: 600px;
    padding-top: 69px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}
.welcome-text{
    margin-top: 25px;
    margin-bottom: 69px;
    font-family: "PT Sans";
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color:#333333;
}
.advantages-list{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.advantages-item-city,
.advantages-item-bridge{
    display: flex;
    width: 1200px;
    background-color: #82B3D3;
}
.advantages-item-square,
.advantages-item-turists{
    width: 400px;
    min-height: 385px;
    background: rgba(131, 179,211,0.12);
}
.advantages-item-road{
    width: 400px;
    min-height: 385px;
    background: rgba(131, 179,211,0.2);
}

.advantages-item-reverse{
    display: flex;
    flex-direction: row-reverse;
}
.advantages-item-container{
    width: 400px;
}
.advantages-title-city,
.advantages-title-bridge{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align:center;
    text-transform: uppercase;
    background-color: #82B3D3;
    color:#ffffff;
}
.advantages-title-square,
.advantages-title-turists{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}
.advantages-title-road{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}
.advantages-title-city::after{
  display: block;
  width: 60px;
  height: 2px;
  content: "";
  background:rgba(255, 255, 255, 0.3);
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
.advantages-title-bridge::after{
  display: block;
  width: 60px;
  height: 2px;
  content: "";
  background:rgba(255, 255, 255, 0.3);
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
.advantages-title-square::after{
  display: block;
  width: 60px;
  height: 2px;
  content: "";
  background: rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
.advantages-title-turists::after{
  display: block;
  width: 60px;
  height: 2px;
  content: "";
  background: rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
.advantages-title-road::after{
  display: block;
  width: 60px;
  height: 2px;
  content: "";
  background: rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
.advantages-description-city,
.advantages-description-bridge{
    margin: 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    background-color: #82B3D3;
    color:#ffffff;
    text-align:center;
}
.advantages-description-square,
.advantages-description-turists{
    margin: 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
    text-align: center;
}
.advantages-description-road{
    margin: 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
    text-align: center;
}
.slogan{
    margin: 0 auto;
    max-width: 600px;
    margin-top: 64px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.slogan-features{
    margin-top: 20px;
    margin-bottom: 64px;
    font-family: "PT Sans";
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color:#333333
}
.features-list{
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0;
    list-style: none;
}
.features-list-housing{
    width: 400px;
    height: 385px;
    background: rgba(131, 179,211,0.12);
}
.features-list-food{
    width: 400px;
    height: 385px;
}
.features-list-gifts{
    width: 400px;
    height: 385px;
    background: rgba(131, 179,211,0.12);
}
.features-item-container{
    width: 230px;
    min-height: 223px;
    padding: 81px 85px;
    text-align: center;
}
.features-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}
.features-description{
    margin: 0;
    font-size:18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-transform: none;
}
.hotel-search{
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    border-radius: 4px;
}
.search-link-button:hover{
    background: #615048;
}
.search-link-button:active{
    background: #756157;
    color: #FFFFFF4D;
}
.search-link-button:disabled{
    background: #E5E5E5;
}
.search-title{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    padding-top: 96px;
}
.search-description{
    margin-top: 20px;
    margin-bottom: 54px;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    color: #333333;
    text-align: center;
}
.search-link-button{
    padding: 8px 50px;
    margin-bottom: 104px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    background: #756157;
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
}
.newsletter-index{
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 104px;
    background-image: url(../images/main/newsletter-moutains.jpg);
    background-repeat: no-repeat;
    background-color: #ffffff;
    color:black;
}
.newsletter-title{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color:#ffffff;
    text-transform: uppercase;
}
.newsletter-description{
    font-size:  22px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
    text-align: center;
}
.newsletter-button{
    padding: 8px 50px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    color: #ffffff;
    background: #82B3D3;
    text-transform: uppercase;
    border-style: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.newsletter-button:hover{
  background: #68A2CA;

}
.newsletter-button:active{
  background: #82B3D3;
}
.newsletter-button:disabled{
  background: #E5E5E5;
}
.newsletter-form{
    display: flex;
}
input:placeholder-shown{
  background-color:#F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
}
.field{
    width: 452px;
}
.main-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}
.social-list{
    margin:0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.social-list-item{
    width: 47px;
    height: 40px;
}
.social-link{
    color: #83B3D3;
}
.social-link:hover path{
    fill: #68A2CA;
}
.social-link:active path{
    fill: #68A2CA4D;
}
.phone{
    margin-top: 45px;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    color: black;
    text-decoration: none;
    text-align: center;
}

.phone:hover{
  color: #756157;
}
.phone:active{
  color: #7561574D;
}
.logo{
    display: block;
    margin-top: 48px;
    margin-right: 70px;
    cursor: pointer;
}
.logo:hover{
 fill: #7561574D;
}
.logo:active{
  fill: #7561574D;
}



/*catalog.html*/

.main-inner{
    font-family: "PT Sans";
    font-style: normal;
    color: black;
    background-color: white;
}
.main-container{
    flex-grow: 1;
}
.wrapper{
    background: url(../images/main/moutains-main-inner.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.inner-header{
    padding-right: 70px;
    padding-left:70px;
}
.inner-header-tittle{
    font-size:60px;
    font-weight: 700;
    line-height:78px;
    color:#ffffff;
    margin-top:0;
    margin-bottom: 11px;
    padding-top: 35px;
}
.breadcrumbs-list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.breadcrumbs-item{
    margin-right: 10px;
    margin-bottom: 43px;
    padding: 2px 0;
    cursor: pointer;
}
.breadcrumbs-link{
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
}
.breadcrumbs-link:hover path{
  fill:rgba(255,255,255,0.6);
}
.breadcrumbs-link:active path{
  fill:rgba(255,255,255,0.3);
}
.breadcrumbs-link:hover{
  color: rgba(255,255,255,0.6);
}
.breadcrumbs-link:active{
  color: rgba(255,255,255,0.3);
}
.catalog-apartments{
    padding-right: 70px;
    padding-left:70px;
    padding-bottom: 70px;
}
.catalog-filter{
    display: flex;
    flex-wrap: nowrap;
}
.catalog-filter-additionals{
    border-style: none;
    margin-right: 70px;
    padding: 0;
}
.catalog-filter-title{
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  line-height: 24px;
  margin-bottom: 32px;
}
.catalog-filter-list{
    list-style: none;
    margin: 0;
    padding:0;
}
.catalog-filter-item{
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: #ffffff;
    margin-bottom: 16px;
}
.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}
.control{
  position: relative;
  display: block;
  padding-left: 36px;
}
.control-mark{
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border:none;
  border-radius: 4px;
  background: #ffffff;
}
.control:hover{
    opacity: 0.6;
}
.control-mark:hover{
    opacity: 0.6;
}
.control:active{
    opacity: 0.3;
}
.control-mark:active{
  opacity: 0.3;
}
.control-input [type="checkbox"]:checked +
.control-mark::before{
  position:absolute;
  top: 3px;
  left: 2px;
  width: 10px;
  height: 10px;
  background: #3f5e72;
}
.control-input [type="checkbox"]:checked +
.control-mark::after{
  position: absolute;
  top: 7px;
  left: 2px;
  width: 12px;
  height: 10px;
  background: #3f5e72;
  content: "";
}
.catalog-filter-housing{
    border-style: none;
    margin-right: 140px;
    padding: 0;
}
.control-input[type="radio"] +
.control-mark {
  border-radius: 50%;
}
.control-label {
  line-height: 23px;
  font-weight: 400;
}
.catalog-filter-price-range{
    border-style: none;
    width: 288px;
    padding: 0;
    margin-right: 70px;
}
.range-container{
    display: flex;
    align-items: start;
    gap: 2px;
    margin: 0;
}
.range-field-text{
  position: relative;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: rgba(0,0,0);

}
.field-text{
  position: absolute;
  top: 15px;
  right: 20px;
  color: #000000;
  opacity: 0.3;
}
.control-input-min{
    width: 143px;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    font:inherit;
    font-weight: 700;
    background-color: #F2F2F2;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
}
.control-input-min:hover{
    background: #E6E6E6;
}
.control-input-min:active{
    background: #d4d1d1;
}
.control-input-min:placeholder-shown{
    background-color:#F2F2F2;
    border: 2px solid#000000;
    border-radius: 4px 0 0 4px;
}
.control-input-max{
    width: 143px;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    font:inherit;
    font-weight: 700;
    background-color: #F2F2F2;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
}
.control-input-max:hover{
    background: #E6E6E6;
}
.control-input-max:active{
    background: #d4d1d1;
}
.control-input-max:placeholder-shown{
    background-color:#F2F2F2;
    border: 2px solid#000000;
    border-radius: 4px 0 0 4px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.rage{
  position: relative;
  Top: 48px;
  height: 4px;
  background-color: #FFFFFF;
  opacity: 0.3;
  border-radius: 5px;
  z-index: 1;
}
.range-scale{
  position: relative;
  Top: 48px;
  height: 4px;
  background-color: #FFFFFF;
  border-radius: 5px;
  z-index: 0;
}
.range-bar{
  position: absolute;
  Top: 0;
  width:226px;
  left:0;
  height: 4px;
  background-color: #982c2c;
  border-radius: 5px;
  z-index: 2;
}
.range-toggle{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;

}
.range-toggle{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}
.range-toggle:hover{
  background: #E6E6E6;
}
.range-toggle:active{
background: #d4d1d1;
}
.toggle-min{
    position: absolute;
    top: -9px;
    left: 0.5px;
    border: none;
}
.toggle-max{
    position: absolute;
    top: -9px;
    right: 0;
    border: none;
}
.filter-buttons{
    width: 191px;
}
.button-accept{
    width: 191px;
    margin:0 auto;
    margin-top: 56px;
    padding: 8px 0;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #ffffff;
    background: #82B3D3;
    text-transform: uppercase;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
}
.button-accept:hover{
  background: #68A2CA
}
.button-accept:active{
  background: #82B3D3;
}
.button-reset{
    width: 191px;
    margin:0 auto;
    margin-top: 32px;
    padding: 8px 0;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    border-style: none;
    cursor: pointer;
    border-radius: 4px;
}
.button-reset:hover{
  opacity:0.6;
}
.button-reset:active{
  background: #FFFFFF4D;
}
.button-reset:focus{
  color:#FFFFFF ;
  outline: 3px solid #83B3D3;
}
.catalog{
    padding-right: 70px;
    padding-left:70px;
}
.sorting-container{
   display: flex;
   align-items: center;
}
.search-result{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 82px;
    margin-bottom: 72px;
}
.select-control{
    width: 292px;
    margin-right: auto;
    margin-left: 240px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}
.select-control:hover{
  border: 2px solid #68A2CA;
}
.button-cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.button-cards{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 14px 12px;
    color: black;
    border: 2px solid#E5E5E5;
    border-radius: 4px;
    box-sizing: border-box;
}
.button-cards:hover{
    border: 2px solid #000000;
}
.button-cards:focus{
    border: 2px solid #68A2CA;
}
.button-cards:active{
    border: 2px solid #000000;
}
.product-card-list{
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 20px;
    padding:0;
    margin: 0;
    width: 100%;
}
.product-item{
    list-style: none;
    min-width: 340px;
    min-height: 438px;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
}
.product-card-container{
    display: grid;
    grid-template-columns: repeat(2, 140px);
    gap: 20px;
}
.product-link{
    color: black;
    text-decoration: none;
}
.product-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom:0;
}
.product-price{
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}
.button-link-detailed{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 26px;
    margin-top: 16px;
    border-radius:  4px;
}
.button-link-detailed:hover{
  background: #615048;
}
.button-link-detailed:active{
  background: #756157;
}
.button-link-favorites{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #ffffff;
    background: #82B3D3;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 20px;
    margin-top: 16px;
    border-radius: 4px;
}
.button-link-favorites:hover{
  background: #68A2CA
}
.button-link-favorites:active{
  background: #82B3D3;
}
.button-link-favorites-chosen{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #ffffff;
    background: #7DB54F;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 18px;
    margin-top: 16px;
    border-radius: 4px;
}
.button-link-favorites-chosen:hover{
    background: #6C9E42;
}
.button-link-favorites-chosen:active{
    background: #7DB54F;
}
.rating{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    background: #F2F2F2;
    padding: 8px 23px;
    border-radius: 4px;
}
.newsletter-catalog{
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    color:black;
    background-color: #ffffff;
    margin-top: 96px;
    padding-bottom: 104px;
}
.newsletter-title-inner{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color:black;
    background-color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
.newsletter-description-inner{
    font-size:  22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.pagination-list{
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin-top: 80px;
}
.pagination-item-first-page{
    width: 60px;
    height: 60px;
    color: black;
    background:#F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-link-first-page{
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    color: black;
    background:#F2F2F2;
    text-decoration: none;
    border: 1px solid #F2F2F2;
    border-radius:  4px;
}
.pagination-item{
    width: 60px;
    height: 60px;
    color: #ffffff;
    background: #82B3D3;
    border: 1px solid #82B3D3;
    border-radius:  4px;
}
.pagination-link{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    color: #ffffff;
    background: #82B3D3;
    text-decoration: none;
}
.pagination-link:hover{
    background: #68A2CA;
}

.pagination-link:active{
    background: #82B3D3;
}
.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color:rgba(255,255,255,0.6);
}
.modal{
  position: relative;
  margin: auto;
  padding: 70px;
  width: 717px;
  border-radius: 30px;
  background-color: #ffffff;
}
.modal-hotel-search{
    width: 577px;
    display: flex;
}
.modal-close-button {
  position: absolute;
  padding: 19px 18px;
  top: 64px;
  right:70px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 100%;
  background-image:url(../images/main/close-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.modal-title{
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans" sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.search-date-form{
  display: flex;
  flex-wrap: wrap;

}
.arrival-date-field{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.modal-container-close{
  display: none;
}
