@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
body {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 28px; 
    color: black;
    background-color: white; 
}
.page-header {
    color: black;
    background-color: white;   
}
.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height:24px;
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
}
.main-index {
    color: black;
    background-color: white;  
    background-image: url(../images/main/index-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
