@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
.html{
    height: 100%;
}
body{
    margin:0;
    display: flex;
    flex-direction: column;
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 28px; 
    font-style: normal;
    color: black;
    background: #F2F2F2;
    min-height: 100%;
}
.page-header{
    color: black;
    background-color: white; 
    padding-left: 70px;
    padding-right: 70px;  
}
.main-image{
    display: block;
    margin: 0 auto;
}
.navigation{
    display: flex;
    margin:0 auto;
}
.logo-link{
    display: block;
    margin-right: 28px;
}
.navigation-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none; 
    width:calc(100%-450px);
}
.navigation-link{
    display: block;
    padding: 20px 16px;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height:24px;
    color: black;
    text-transform: capitalize;
    text-decoration: none;
}
.navigation-user{
    min-width: 310px;  
    margin-left: auto;
}
.navigation-button{
    display: block;
    margin-top: 14px;
    margin-left: 20px;
    padding: 8px 34px;
    font-size: 16px;
    font-weight: 700px;
    line-height: 20px;
    background: #756157;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    text-decoration: none;
}
.visually-hidden {
   visibility:hidden;
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}
.main-index {
    font-family: "PT Sans";
    color: black;
    background-color: white;  
}
.main-container{
    flex-grow: 1;
}
.page-container{
    width: 1200px;
    margin: 0 auto;
}
.hero{
    background: url(../images/main/index-background.jpg);
    background-repeat: no-repeat;
}
.slogan-advantages{
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}
.welcome-text{
    margin-top: 20px;
    font-family: "PT Sans";
    font-size: 22px; 
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color:#333333 
}
.advantages-items-container{
    margin: 69px 274px;
}
.advantages-list{
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.advantages-item-city,
.advantages-item-bridge{
    display: flex;
    width: 1200px;
    background-color: #82B3D3;
}
.advantages-item-square,
.advantages-item-turists{
    width: 400px;
    min-height: 385px;
    background: rgba(131, 179,211,0.12); 
    
}
.advantages-item-road{
    width: 400px;
    min-height: 385px;
    background: rgba(131, 179,211,0.2); 
}
.advantages-item-container{
    width: 230px;
    min-height: 160px;
    padding: 113px 85px;
}
.advantages-item-wrapper{
    width: 230px;
    min-height: 160px;
    padding: 102px 85px;
}
.advantages-item-reverse{
    display: flex;
    flex-direction: row-reverse; 
}
.advantages-title-city,
.advantages-title-bridge{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align:center;
    text-transform: uppercase; 
    background-color: #82B3D3;
    color:#ffffff;
}
.advantages-title-square,
.advantages-title-turists{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}
.advantages-title-road{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;  
}
.advantages-description-city,
.advantages-description-bridge{
    margin: 0;
    font-size: 18px;
    font-weight: 400px;
    line-height: 21px;
    background-color: #82B3D3;
    color:#ffffff; 
    text-align:center;  
}
.advantages-description-square,
.advantages-description-turists{
    margin: 0;
    font-size: 18px;
    font-weight: 400px;
    line-height: 21px;
    background: rgba(131, 179,211,0.12);
    color: #333333;
    text-align: center;
}
.advantages-description-road{
    margin: 0;
    font-size: 18px;
    font-weight: 400px;
    line-height: 21px; 
    background: rgba(131, 179,211,0.2); 
}
.features-items-container{
    margin: 64px 354px;
}
.slogan {
    margin: 0;
    font-size: 30px;
    font-weight: 700px;
    line-height: 36px;
    text-align: center; 
    text-transform: uppercase;
    margin-bottom: 20px;  
}
.slogan-features {
    margin-top: 20px;
    font-family: "PT Sans";
    font-size: 22px; 
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color:#333333   
}
.features-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
}
.features-list-housing {
    width: 400px;
    height: 385px;
    background: rgba(131, 179,211,0.12);
}
.features-list-food {
    width: 400px;
    height: 385px;
}
.features-list-gifts{
    width: 400px;
    height: 385px;
    background: rgba(131, 179,211,0.12); 
}
.features-item-container{
    width: 230px;
    min-height: 223px;
    padding: 81px 85px;
    text-align: center;
}
.features-title{
    font-size: 24px;
    font-weight: 700px; 
    line-height: 28px;
    text-align: center;
    text-transform: uppercase; 
}
.features-description{
    margin: 0;
    font-size:18px;
    font-weight: 400px;
    line-height: 21px;
    text-align: center;
    text-transform: none;
}
.search{
    padding: 96px 34px;
}
.search-title{
    font-size: 30px;
    font-weight: 700px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.search-description{
    margin-top: 20px;
    margin-bottom: 54px;
    font-size: 22px;
    font-weight: 400px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}
.search-link-button{
    display: block;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700px;
    line-height: 36px;
    background: #756157;
    color:#ffffff; 
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    width: 367px;
}
.newsletter-index{
    background-image: url(../images/main/newsletter-moutains.jpg);
    background-repeat: no-repeat;
    background-color: #ffffff;
    color:black;
    padding: 96px 258px;
}
.newsletter-title{
    font-size: 30px;
    font-weight: 700px;
    line-height: 36px;
    text-align: center;
    color:#ffffff;
    text-transform: uppercase;  
}
.newsletter-description {
    font-size:  22px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
    text-align: center;
}
.newsletter-button{
    width: 230px;
    min-height: 52px;
    font-size: 20px;
    font-weight: 700px;
    line-height: 36px;
    color: #ffffff;
    background: #82B3D3;
    text-transform: uppercase;  
    border-style: none;
}
.newsletter-form{
    display: flex;
}
.field{
    width: 452px;
}
.main-footer page-footer-container{
    background: white;  
}
.social-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;  
}
.social-list-item{
    width: 47px;
    height: 40px;
}
.phone {
    color: black;
    text-decoration: none; 
}


/*catalog.html*/


.main-inner{
    font-family: "PT Sans";
    font-style: normal;
    color: black;
    background-color: white;
}
.main-container{
    flex-grow: 1;
}
.wrapper{
    background: url(../images/main/moutains-main-inner.jpg);
    background-repeat: no-repeat;
    background-size:cover;  
}
.inner-header-tittle{
    font-size:60px;
    font-weight: 700px;
    line-height:78px;
    color:#ffffff;
}
.breadcrumbs{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.breadcrumbs-link{
    font-size: 16px;
    font-weight: 400px;
    line-height: 21px;
    color: #ffffff;
}
.catalog-filter{
    display: flex;
    flex-wrap: wrap; 
}
.catalog-filter-additionals{
    border-style: none;
    width: 150px; 
}
.catalog-filter-list{
    list-style: none;
}
.catalog-filter-item{
    font-size: 18px;
    font-weight: 400px;
    line-height: 23px;
    color: #ffffff;
}
.catalog-filter-housing{
    border-style: none;
    width: 150px;
}

.catalog-filter-price-rage{
    border-style: none;
    width: 288px;
}
.catalog-filter-title{
    font-size: 20px;
    font-weight: 700px;
    color: #ffffff;
    line-height: 24px;
}
.button-accept{
    margin-bottom: 32px;
    padding: 8px 50px;
    font-size: 16px;
    font-weight: 700px;
    line-height: 20px;
    color: #ffffff;
    background: #82B3D3;
    text-transform: uppercase;
    width: 191px;   
}
.button-reset{
    padding: 8px 50px;
    font-size: 16px;
    font-weight: 700px;
    line-height: 20px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    width: 191px; 
}
.search-result{
    font-size: 30px;
    font-weight: 700px;
    line-height: 36px;
    text-transform: uppercase;
}
.select-control{
    display: flex;
    padding: 14px;
    padding-bottom: 14px;
    padding-right: 131px;
    margin-bottom: 105px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
}
.button-cards{
    width: 48px;
    height: 48px;
    margin-bottom: 92px;
    margin-right: 8px;
}
.product-card{
    display: flex;
    flex-wrap: wrap;
}
.product-item{
    list-style: none;
    width: 340px;
    min-height: 438px;  
}
.product-link{
    color: black;
    text-decoration: none; 
}
.product-title{
    font-size: 24px;
    font-weight: 700px;
    line-height: 28px;
}
.product-price{
    font-size: 18px;
    font-weight: 400px;
    line-height: 21px;
}
.button-link-detailed{
    margin-top: 16px;
    margin-right: 20px; 
    padding: 8px 26px;
    font-size: 16px;
    font-weight: 700px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
    width: 140px;
    height: 36px;
 
}
.button-link-favorites{
    font-size: 16px;
    font-weight: 700px;
    line-height: 20px;
    color: #ffffff;
    background: #82B3D3;
    text-decoration: none;
    text-transform: uppercase;
    width: 140px;
    height: 36px;
    margin-top: 16px;
    padding: 8px 26px;
}
.button-link-favorites-chosen{
    font-size: 16px;
    font-weight: 700px;
    line-height: 20px;
    color: #ffffff;
    background: #7DB54F; 
    text-decoration: none;
    text-transform: uppercase;
    width: 140px;
    height: 36px;
    margin-top: 16px;
    padding: 8px 26px;
}
.rating{
    font-size: 16px;
    font-weight: 400px;
    line-height: 400px;
    color: #333333;
    background: #F2F2F2;
    width: 140px;
    height: 36px;
}
.newsletter-catalog{
    color:black;
    background-color: #ffffff;
    padding: 96px 258px;
}
.newsletter-title-inner{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color:black;
    background-color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
.newsletter-description-inner{
    font-size:  22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;  
}
.pagination{
    list-style: none;
    display: flex;
}
.pagination-item-first-page{
    width: 60px;
    height: 60px;
    color: black;
    background:#F2F2F2;   
}
.pagination-item{
    width: 60px;
    height: 60px;
    color: #ffffff; 
    background: #82B3D3;
    margin-right: 8px;
    padding: 11px;
}
.pagination-link{
    font-size: 20px;
    font-weight: 700px;
    line-height: 36px;
    color: #ffffff;
    background: #82B3D3;
    text-decoration: none;
}


    