@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

.html{
    height: 100%;
}
body {
    margin:0;
    display: flex;
    flex-direction: column;
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 28px; 
    font-style: normal;
    color: black;
    background-color: white; 
    min-height: 100%;
}
.page-header {
    color: black;
    background-color: white;   
}
.navigation{
    display: flex;
    width: 1200px;
    margin:0 auto;
}
.navigation-list{
    margin: 0;
    padding: 0;
    list-style: none; 
    width: 627px;
}
.navigation-user{
  width: 268px;  
  margin-left: auto;
}
.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height:24px;
    color: black;
    text-transform: capitalize;
    text-decoration: none;
}
.visually-hidden {
  visibility:;  
}
.main-index {
    font-family: "PT Sans";
    color: black;
    background-color: white;  
    background: url(../images/main/index-background.jpg);
    background-repeat: no-repeat;
    background-size: 1200px;
}
.main-container{
    flex-grow: 1;
}
.page-container{
    width: 1200px;
    margin: 0 auto;
}
.slogan-advantages {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}
.welcome-text {
    font-family: "PT Sans";
    font-size: 22px; 
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color:#333333 
}
.advantages-list {
    list-style: none;  
}
.advantages-item-city,
.advantages-item-bridge {
  width: 1200px;
  height: 384px;
  background-color: #82B3D3;
  color:#ffffff;
  text-align: center;
}
.advantages-item-square,
.advantages-item-turists {
    width: 400px;
    height: 385px;
    background: rgba(131, 179,211,0.12); 
    text-align: center;
}
.advantages-item-road {
    width: 400px;
    height: 385px;
    background: rgba(131, 179,211,0.2);
    text-align: center;
}
.advantages-title-city,
.advantages-title-bridge {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;     
}
.advantages-title-square,
.advantages-title-turists {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase; 
}
.advantages-title-road {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;  
}
.advantages-description-city,
.advantages-description-bridge {
    font-size: 18px;
    font-weight: 400px;
    line-height: 21px;
    background-color: #82B3D3;
    color:#ffffff;   
}
.advantages-description-square,
.advantages-description-turists {
    font-size: 18px;
    font-weight: 400px;
    line-height: 21px;
    background: rgba(131, 179,211,0.12);
    color: #333333;
}
.advantages-description-road {
    font-size: 18px;
    font-weight: 400px;
    line-height: 21px; 
    background: rgba(131, 179,211,0.2)   
}
.slogan {
    text-align: center;   
}
.slogan-features {
    font-family: "PT Sans";
    font-size: 22px; 
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color:#333333   
}
.features-list {
    list-style: none;
}
.features-list-housing {
    width: 400px;
    height: 385px;
    background: rgba(131, 179,211,0.12);
}
.features-list-food {
    width: 400px;
    height: 385px;
}
.features-list-gifts {
    width: 400px;
    height: 385px;
    background: rgba(131, 179,211,0.12); 
}
.features-title{
    font-size: 24px;
    font-weight: 700px; 
    line-height: 28px;
    text-align: center;
    text-transform: uppercase; 
}
.features-description {
    font-size:18px;
    font-weight: 400px;
    line-height: 21px;
    text-align: center;
    text-transform: none;
}
.search-title {
    font-size: 30px;
    font-weight: 700px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.search-description {
    font-size: 22px;
    font-weight: 400px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}
.search-link-button {
    font-size: 20px;
    font-weight: 700px;
    line-height: 36px;
    background: #756157;
    color:#ffffff; 
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}
.newsletter {
    background-image: url(../images/main/newsletter-moutains.jpg);
    background-repeat: no-repeat;
    color:black;
    background-color: #ffffff;
    background-size:1200px;
}
.newsletter-title {
    font-size: 30px;
    font-weight: 700px;
    line-height: 36px;
    text-align: center;
    color:#ffffff;
    text-transform: uppercase;  
}
.newsletter-description {
    font-size:  22px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
    text-align: center;
}
.newsletter-button{
    font-size: 20px;
    font-weight: 700px;
    line-height: 36px;
    color: #ffffff;
    background: #82B3D3;
    text-transform: uppercase;
}
.social-list {
    list-style: none;   
}
.phone {
    color: black;
    text-decoration: none;  
}


/*catalog.html*/


.main-inner {
    font-family: "PT Sans";
    font-style: normal;
    color: black;
    background-color: white;  
}
.catalog-apartments{
    background: url(../images/main/moutains-main-inner.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.inner-header-tittle {
    font-size:60px;
    font-weight: 700px;
    line-height:78px;
    color:#ffffff;
}
.breadcrumbs{
    list-style: none;
}
.breadcrumbs-link{
    font-size: 16px;
    font-weight: 400px;
    line-height: 21px;
    color: #ffffff;
}
.catalog-filter-title{
    font-size: 20px;
    font-weight: 700px;
    color: #ffffff;
    line-height: 24px;
}
.catalog-filter-item{
    font-size: 18px;
    font-weight: 400px;
    line-height: 23px;
    color: #ffffff;
}
.button-accept{
    font-size: 16px;
    font-weight: 700px;
    line-height: 20px;
    color: #ffffff;
    background: #82B3D3;
    text-transform: uppercase;
}
.button-reset{
    font-size: 16px;
    font-weight: 700px;
    line-height: 20px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0);
    text-transform: uppercase;
}

.search-result{
    font-size: 30px;
    font-weight: 700px;
    line-height: 36px;
    text-transform: uppercase;
}
.select-control{
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
}
.product-list{
    list-style: none;   
}
.product-link{
    color: black;
    text-decoration: none;
    
}
.product-title{
    font-size: 24px;
    font-weight: 700px;
    line-height: 28px;
}
.product-price{
    font-size: 18px;
    font-weight: 400px;
    line-height: 21px;
}
.button-link-detailed{
    font-size: 16px;
    font-weight: 700px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
}
.button-link-favorites{
    font-size: 16px;
    font-weight: 700px;
    line-height: 20px;
    color: #ffffff;
    background: #82B3D3;
    text-decoration: none;
    text-transform: uppercase;
}
.button-link-favorites-chosen{
    font-size: 16px;
    font-weight: 700px;
    line-height: 20px;
    color: #ffffff;
    background: #7DB54F; 
    text-decoration: none;
    text-transform: uppercase;
}
.rating{
    font-size: 16px;
    font-weight: 400px;
    line-height: 400px;
    color: #333333;
    background: #F2F2F2;

}
.pagination{
    list-style: none;
}

.pagination-item-first-page{
    width: 60px;
    height: 60px;
    color: black;
    background:#F2F2F2;   
}
.pagination-item{
    width: 60px;
    height: 60px;
    color: #ffffff; 
    background: #82B3D3;
}
.pagination-link{
    font-size: 20px;
    font-weight: 700px;
    line-height: 36px;
    color: #ffffff;
    background: #82B3D3;
    text-decoration: none;
}


    